Repository Armor-test/product-module-989, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-performance, @Armor-test/squad-database, @Armor-test/squad-frontend, @Armor-test/dept-reporting, @Armor-test/squad-cache, @Armor-test/dept-automation, @Armor-test/team-notifications, @Armor-test/dept-ui, @Armor-test/team-security, @Armor-test/squad-research, @Armor-test/team-core, @Armor-test/grp-storage, @Armor-test/squad-api, @Armor-test/squad-tooling, @Armor-test/dept-billing, @Armor-test/team-frontend, @Armor-test/dept-logging, @Armor-test/squad-payments, @Armor-test/grp-reporting, @Armor-test/squad-apps, @Armor-test/squad-qa, @Armor-test/team-governance, @Armor-test/dept-data, @Armor-test/team-reporting, @Armor-test/squad-ml, @Armor-test/dept-security, @Armor-test/squad-ux, @Armor-test/dept-test, @Armor-test/squad-mobile, @Armor-test/unit-devops, @Armor-test/unit-test, @Armor-test/grp-search, @Armor-test/dept-release, @Armor-test/squad-reporting, @Armor-test/dept-identity, @Armor-test/squad-cloud, @Armor-test/security, @Armor-test/auth-team, @Armor-test/dependency-team, @Armor-test/ci-team, @Armor-test/devops

.github/CODEOWNERS:

# CODEOWNERS file for product-module-989
# Global owners - will be requested for all PRs
* @Armor-test/squad-performance @Armor-test/squad-database @Armor-test/squad-frontend

# Directory ownership
/security/ @Armor-test/dept-reporting @Armor-test/squad-cache @Armor-test/dept-automation
/app/ @Armor-test/team-notifications @Armor-test/dept-ui
/src/ @Armor-test/team-security @Armor-test/squad-research
/pkg/ @Armor-test/team-core @Armor-test/grp-storage
/migrations/ @Armor-test/squad-api @Armor-test/squad-tooling @Armor-test/dept-billing
/middleware/ @Armor-test/team-security @Armor-test/team-frontend @Armor-test/squad-database
/scripts/ @Armor-test/squad-frontend @Armor-test/grp-storage
/extensions/ @Armor-test/dept-logging @Armor-test/squad-payments
/core/ @Armor-test/grp-reporting @Armor-test/dept-reporting @Armor-test/team-security
/tools/ @Armor-test/squad-apps @Armor-test/dept-reporting @Armor-test/team-frontend
/third_party/ @Armor-test/squad-qa @Armor-test/team-governance
/modules/ @Armor-test/dept-data @Armor-test/squad-database
/views/ @Armor-test/team-reporting @Armor-test/squad-research @Armor-test/squad-ml
/test/ @Armor-test/dept-security @Armor-test/squad-frontend @Armor-test/squad-ux

# File type ownership
*.cpp @Armor-test/squad-tooling @Armor-test/dept-test @Armor-test/squad-research
*.json @Armor-test/dept-test @Armor-test/squad-ux
*.gradle @Armor-test/team-reporting @Armor-test/team-governance @Armor-test/grp-reporting
*.lock @Armor-test/squad-mobile @Armor-test/unit-devops
*.yml @Armor-test/team-frontend @Armor-test/unit-test @Armor-test/squad-cache
*.scala @Armor-test/squad-qa @Armor-test/squad-mobile
*.tsx @Armor-test/dept-billing @Armor-test/grp-search
*.rb @Armor-test/squad-research @Armor-test/squad-database @Armor-test/grp-reporting
*.java @Armor-test/dept-release @Armor-test/squad-reporting @Armor-test/grp-search
*.sh @Armor-test/dept-identity @Armor-test/dept-ui
*.config @Armor-test/dept-data @Armor-test/dept-security @Armor-test/squad-cloud

# Security and special files
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
package.json @Armor-test/dependency-team @Armor-test/security
.github/workflows/ @Armor-test/ci-team @Armor-test/devops

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/team-security, @Armor-test/squad-research

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-performance, @Armor-test/squad-database, @Armor-test/squad-frontend

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-security, @Armor-test/squad-frontend, @Armor-test/squad-ux

Add src/main.py
  src/main.py
Owners: @Armor-test/team-security, @Armor-test/squad-research

Add src/index.js
  src/index.js
Owners: @Armor-test/team-security, @Armor-test/squad-research
